# Компилированные бинарники
*.out
*.o
*.obj
*.exe
main   # если это бинарь

# Каталоги сборки
/build/
/bin/
/Debug/
/Release/

# Настройки IDE
.vscode/
.idea/

# Системные файлы macOS
.DS_Store

# Логи
*.log
programming/main.dSYM/Contents/Info.plist
programming/main.dSYM/Contents/Resources/DWARF/main
intro/sum
intro/sum.dSYM/Contents/Info.plist
